# 源文件
/svg
/scripts
/.github
/.history
/examples

# 开发文件
*.map
*.log
*.lock
.DS_Store
Thumbs.db
.editorconfig
.eslintrc
.gitignore
.prettierrc
.vscode
.idea

# 测试文件
/test
/tests
/coverage
/jest.config.js
*.spec.js
*.test.js

# 其他
/node_modules
/temp
/.env*
/*.tgz
/tsconfig.json
/test-output.vue
/CONTRIBUTING.md
/CODE_OF_CONDUCT.md 